{{#each questions}}

 	<h1>{{question}}</h1>

	{{#each answers}}
 	 <label>
        <input type="{{../quesType}}" name="q1" id="1" value="{{value}}"> {{answer}}
        <br>
    </label>
    {{/each}}

{{/each}}

<input type="submit" value="Submit">